.wrap {
  width: 92%;
  margin: 0 auto;
}
.no-border {
  border: none !important;
}
/* field */
.van-field {
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  margin-bottom: 0.24rem;
}
.van-field__label > span {
  color: #777;
}
/* cell */
.van-cell {
  padding: 10px 8px !important;
}
/* 按钮 */
.van-button--normal {
  padding: 0 1.2rem;
}
.van-button--default {
  border: 1px solid #000;
}
/* 单选 */
.van-radio__icon {
  height: 0.52rem !important;
}
/* 报名渠道 */
.sign-up-method .van-radio {
  margin-bottom: 0.24rem;
}
.van-field__label {
  width: 2.2rem;
}
.base-info-avatar .van-field__label span {
  display: inline-block;
  margin-top: 0.6rem;
}
.base-info-avatar .van-field {
  margin-bottom: 0;
}
.customToast {
  background: #fff;
  color: #F25314;
}